.title {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 30px;
}

.messages {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.card-decks {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.player-card-deck {
  height: 215px;
  width: 150px;
  border-radius: 8px;
}

.player1-deck {
  height: 215px;
  width: 150px;
  border: 2px solid;
  border-radius: 8px;
  box-shadow: 12px 12px 6px -6px green;
}

.player2-deck {
  height: 215px;
  width: 150px;
  border: 2px solid;
  border-radius: 8px;
  box-shadow: 12px 12px 6px -6px cornflowerblue;
}

.player-wins {
  margin-left: 14%;
  margin-right: 14%;
  margin-top: 10px;
}

.player1-win-count{
  display: flex;
  justify-content: space-between;
}
